{% extends "base3.html" %}

{% block currentbookings %}
<div><p style="background-color: lightblue;font-size: 20px; width: 500px; text-align: center;">My Current Bookings</p></div>
{% endblock %}

{% block currentfileuploads %}
<div><p style="background-color: lightblue;font-size: 20px; width: 1600px; text-align: center;">My Current File Uploads</p></div>
<table id="file_uploads_table" class="table table-striped" style="font-size: 20px; width: 500px; text-align: center;">
    <thead>
      <tr>
        <th>Uploaded Driver's License Photo</th>
        <th>Driver's License Filename</th>
        <th>Authenticated Driver's License</th>
        <th>Uploaded Driver's License Date</th>
        <th>Authenticated Driver's License Date</th>
        <th>Uploaded Prequal</th>
        <th>Prequal Filename</th>
        <th>Authenticated Prequal</th>
        <th>Uploaded Prequal Date</th>
        <th>Authenticated Prequal Date</th>
        <th>Prequal Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for u in upload_data %}
        <tr>
          <td>{{ u.uploadeddriverslicense }}</td>
          <td>{{ u.driverslicensefilename }}</td>
          <td>{{ u.authenticateddriverslicense }}</td>
          <td>{{ u.uploadeddriverslicensedate }}</td>
          <td>{{ u.authenticateddriverslicensedate }}</td>
          <td>{{ u.uploadedprequal }}</td>
          <td>{{ u.prequalfilename }}</td>
          <td>{{ u.authenticatedprequal }}</td>
          <td>{{ u.uploadedprequaldate }}</td>
          <td>{{ u.authenticatedprequaldate }}</td>
          <td>{{ u.prequalamount }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block loggedin %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    
      <div>
        <p><b>Logged In as:</b> {{buyer}}</p>
        <p><b>I Am A:</b> {{ut}}</p>
      </div>


  </body>
</html>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function delete_flash(flash){
        $(flash).parent().remove()
    }
</script>
{% endblock %}