{% extends "base5.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <div><p style="background-color: lightblue;font-size: 20px; width: 1500px; text-align: center;">Current Home Listings</p></div>


  <table id="data" class="table table-striped" style="width: 1500px; font-size: 12px;">
    <thead>
      <tr>
        <th>Website/Webapp URL</th>
        <th>Company Description</th>
        <th>Job Type</th>s
        <th>Job Description</th>
        <th>Job Duration </th>
        <th>Start Date</th>
        <th>Compensation</th>
        <th>Contact Email </th>
        <th>Contact Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for hl in homelistings %}
        <tr>
          <td>{{ hl.listingprice }}</td>
          <td>{{ hl.beds }}</td>
          <td>{{ hl.baths }}</td>
          <td>{{ hl.sqft }}</td>
          <td>{{ hl.address }}</td>
          <td>{{ hl.city }}</td>
          <td>{{ hl.state }}</td>
          <td>{{ hl.zipcode }}</td>
          <td>{{ hl.mlsid }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  </body>
</html>
{% endblock %}